<p id="notice"><%= notice %></p>

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell">
    <%= link_to 'New Episode', new_episode_path %>      
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell auto">
       <div class="episodes">
        <div class="full">
          <%= render @episodes %>
        </div>
          <h1>Episodes</h1>
          <br>
       </div>
    </div>
    <div class="cell medium-4">
      <%= render partial: 'side'%>
    </div>

  </div>
</div>

