<div id="announcement_banner">
    <p>RailsCasts Pro episodes are now free!</p>

    <p><a href="/announcements/13">Learn more</a> or <a href="/announcements/13/hide" data-remote="true">hide this</a></p>
</div>