<div id="footer">
    <div class="inner">
        &copy;2018 RailsCasts - <a href="/privacy">Privacy Policy</a> - Hosted by <a href="https://www.digitalocean.com/?utm_source=railscasts.com">Digital Ocean</a>
    </div>
</div>
