<div id="nav_bar"  class="grid-x">
  <div class="cell medium-6">
    <ul class="nav horizontal">
        <li>Browse Episodes</li>
        <li><a href="/pro">RailsCasts Pro</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/feedback">Feedback</a></li>
    </ul>
    
  </div>
  <div class="cell medium-6">
    <form accept-charset="UTF-8" action="http://railscasts.com/episodes" method="get">
        <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="&#x2713;" />
        </div>
        <input id="search" name="search" size="35" type="text" />
        <input type="submit" value="Search Episodes" />
    </form>
    
  </div>
</div>