<div id="top" class="grid-x">
    <div class="cell medium-auto">
              <div class="logo">
        <a href="/"><img alt="RailsCasts - Ruby on Rails Screencasts" height="56" src="/assets/railscasts_logo-7101a7cd0a48292a0c07276981855edb.png" width="423" /></a>
    </div>
    <div class="user_nav">
    </div>
    <ul class="subscribe horizontal">
        <li>
            <a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=218282043"><img alt="Itunes" height="34" src="/assets/icons/itunes-ea9253b9b183d9788bef2cdfe326f38e.png" width="34" /></a>
            <span class="name">watch on iTunes</span>
        </li>
        <li>
            <a href="http://twitter.com/railscasts"><img alt="Twitter" height="34" src="/assets/icons/twitter-f0259ab802804e09139fb29f47678b2c.png" width="34" /></a>
            <span class="name">follow on Twitter</span>
        </li>
        <li>
            <a href="http://www.facebook.com/pages/railscasts/197415140659"><img alt="Facebook" height="34" src="/assets/icons/facebook-0ab869e74b54d9c58f33c1c75264d869.png" width="34" /></a>
            <span class="name">follow on Facebook</span>
        </li>
        <li>
            <a href="http://feeds.feedburner.com/railscasts"><img alt="Rss" height="34" src="/assets/icons/rss-04cb962054caa957a6fa3924c48594d8.png" width="34" /></a>
            <span class="name">subscribe to RSS feed</span>
        </li>
    </ul>

  </div>
</div>
